{% extends 'base.html' %}

{% block title %}
    {{first_name}} {{last_name}}
{% endblock %}

{% block content %}
    <h1>Edit a user</h1>
    <div>
        <form action="/users" method="POST">
        <label for="First Name">First Name</label>
        <div>
            <input type="text" name="first-name-input" id="first-name-input">
        </div>
        <label for="Last Name">Last Name</label>
        <div>
            <input type="text" name="last-name-input" id="last-name-input">
        </div>
        <label for="image url">Image URL</label>
        <div>
            <input type="text" name="img-url-input" id="img-url-input">
        </div>
        <button class="btn btn-success">Add</button>
        </form>
    </div>
{% endblock %}