{% extends 'base.html' %}

{% block title %}
        {{user.first_name}} {{user.last_name}}
    {% endblock %}

    {% block content %}
        <h1>{{user.first_name}} {{user.last_name}}</h1>
        <img src="{{user.image_url}}" alt="Wild Monkeys have attacked the server. Sorry!">
        <button><a href="/users/{{user.id}}/edit">Edit</a></button>
        <form action="/users/{{user.id}}/delete" method="POST"><button>Delete</button></form>

        <h1>Posts</h1>
        <ul>
        {% for post in user.posts %}
            <li>{{ post }}</li>
        {% endfor %}
        </ul>
        <button type="button" class="btn btn-primary"><a class="text-white" href="/users/{{user.id}}/posts/new">Add Post</a></button>
    {% endblock %}